body{
    margin: 0;
}

ul {
    margin: 0;
}

.danhmuc {
    background-color: #2fa4e7;
    padding: 20px;
}

.danhmuc-muc{
    margin: 20px;
}

.danhmuc-danhsach{
    display: flex; /*chuyển đổi từ cột dọc thành ngang*/
    list-style: none;/* xóa gạch chân khỏi chữ */
}

.danhmuc-lienket{
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

.danhmuc-lienket:hover{
    color: grey;
}

.logo {
    height: 25px;
    background-color:blue;
}

main{
    display: flex;
}
.trai{
    height: 10000px;
    background-color: aqua;
    width: 80%;
    border-radius: 10px;
}
.phai{
    height: 10000px;
    background-color: seagreen;
    width: 20%;
}

.tieude {
    color: white;
    background-color: #2fa4e7;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}

.tintuc-danhsach {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 12px;
}

.Baiviet {
    height: 200px;
    background-color: grey;
    width: 32%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.Baiviet img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
.text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #2fa4e7;
    padding: 4px 8px;
    line-height: 1.7;
    font-size: 14px;
    background: rgba(14, 165, 233, 0.75);
}
.date{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2px 4px;
    background: rgba(14, 165, 233, 0.75);
    text-align: end;
    line-height: 10px;
}
.thongbao {
    color: white;
    background-color: blue;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}
.thongbao-anh img{
    height: 250px;
    width: 250px;
}
ul{
    place-content: right;
}